<nav>
  <ul>
    <li><%= link_to t('.new'), new_blog_path %>
  </ul>
</nav>

<main>
  <% if @blogs.size == 0 %>
    <p>No Content
  <% else %>
    <% @blogs.each do |blog| %>
      <article>
        <h2><%= blog.title %></h2>
        <section><%= replace_br blog.body %></section>
        <aside><%= Blog.human_attribute_name(:updated_at) %>: <%= I18n.localize(blog.updated_at)%></aside>
        <div><%= link_to t('.continue'), blog_path(blog) %>
      </article>
    <% end %>
  <% end %>

  <%= paginate @blogs %>
</main>
